// Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

// Primary Colors
$fitness-graphite: #232940;
$fitness-eggshell: #d1d1d1;
$fitness-black: #13182c;

// Secondary Colors
$fitness-white: #ffffff;
$fitness-cloud: #bdc5d5;
$fitness-slate: #5c667e;
$fitness-blue: #2e66e5;

// Teriary Colors
$fitness-green: #158463;
$fitness-orange: #c94515;

// API Key
